@import "./variables.scss";
// @import "./responsive.scss";

.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

// .navbar {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: rgb(19, 19, 19);
//   color: white;
//   padding: 10px;
// }

// .navbarLinks {
//   display: flex;
//   margin-right: 20px;
// }

// .navbarLinks span {
//   margin: 0px;
//   padding: 0px;
//   display: flex;
//   align-items: center;
// }

// .navbar a {
//   color: white;
//   text-decoration: none;
//   font-size: 20px;
//   margin-right: 20px;
// }

.navbar {
  height: 70px;
  background-color: $navbar-bg;

  .left {
    h1 {
      color: $logo-text;
    }
  }

  .wrapper {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 16px;
    
    .navText {
      color: $navbar-text;
      text-decoration: none;
    }
  }
}