@import "../../variables.scss";
@import "../../responsive.scss";

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include sm {
    justify-content: center;
  }

  .product {
    border-radius: 15px;
    width: 350px;
    height: 450px;
    gap: 14px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include md {
      width: 280px;
    }

    .image {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 350px;
      // overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h3,
    p {
      margin: 0;
    }

    button {
      width: max-content;
      padding: 10px;
      background-color: $secondary-bg;
      border: none;
      border-radius: 20px;
      color: $button-text;

      &hover {
        background-color: $hover-bg;
        color: $hover-bg;
        cursor: pointer;
      }
    }
  }
}
