@import "../../variables.scss";
@import "../../responsive.scss";

.purchased-items {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 30px;
  h1 {
    font-size: 24px;
    color: $main-text;
  }
  @include sm {
    justify-content: center;
  }
}

.purchased-items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
  h3, 
  p {
    margin: 0;
    color: $main-text;
  }

}

.purchased-items .item img {
  width: 200px;
  height: 200px;

  background-color: #ccc;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.purchased-items button {
  border: 2px solid rgb(19, 19, 19);
  max-width: max-content;
  padding: 8px;
  border-radius: 20px;
  background-color: $secondary-bg;
  border: none;
  color: $button-text;
}

.purchased-items button:hover {
  cursor: pointer;
}
